tags
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
.*~
.*.swp
.ghc.environment.x86_64-darwin-8.6.5
cabal.project.local
dist-newstyle/
